body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: #ffffff;
}

#menudeopcoes{
    display: flex; /*coloca a logo num lado a as opções no outro*/
    justify-content: space-between; /*espaço entre as opções*/
    align-items: center; /*alinha os objetos centralizados*/ 
    flex-wrap: wrap; /*quando a tela for pequena, as opções vão para baixo da logo*/
    padding: 20px; 
    background: rgb(1,1,53); 
}

#menu{
    display: flex; /*para ficar uma opção do lado da outra*/
}

#menu li{ /*Altera o layout de cada inbtem da lista*/
    margin-left: 10px;
}

#menu li a{
    display: block; /*criar uma área de click maior que o texto*/
    padding: 10px;
    background: salmon;
}

